.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
